<h1 class="text-center">crea un color</h1>

<div class="container">
  <div class="row">
    <div class="col">
      <div class="demo pb-4" >
    		<p> R </p>
    		<input id="knob1" data-width="200" data-min="0" data-max="255"  data-displayPrevious=true value="44">
    	</div>
    </div>
    <div class="col">
      <div class="demo" >
    		<p> G </p>
    		<input id="knob2" data-width="200" data-min="0" data-max="255" data-displayPrevious=true value="44">
    	</div>
    </div>
    <div class="col">
      <div class="demo" >
    		<p> B</p>
    		<input id="knob3" data-width="200" data-min="0" data-max="255" data-displayPrevious=true value="44" id="color3">
    	</div>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <h3 id="colorrgb">rgb(
  			<span id="color1">44</span>,
  			<span id="color2">44</span>,
  			<span id="color3">44</span>)
  		</h3>
    </div>
  </div>
</div>




<div id="lienzo" style="background-color: rgb(44,44,44);height:600px;"></div>
